<div class='slides'>
  {% for item in site.data.index.slides %}
  <div class='slide text-color-{{item.text_color}}' style="display: none; background-color:{{item.background_color}}">
    <div class='image-box'>
      <img src="{{item.background_image | prepend: "assets/img/" | relative_url }}">
    </div>
    <div class='text-box top'>
      {{ item.top }}
    </div>
    <div class='text-box middle'>
      {{ item.middle }}
    </div>
    <div class='text-box bottom'>
      {{ item.bottom }}
    </div>
  </div>
  {% endfor %}
</div>
