body{
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.slides{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
.slide{
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.image-box{
  position: absolute;
  height: auto;
  width: auto;
  margin: 10% 5% 10% 5%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.image-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.text-box{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 8vh;
  text-shadow: 2px 2px 5px #ffffff;
}
.text-box.top{
      top: 5%;
}
.text-box.middle{
  top: 50%;
}
.text-box.bottom{
      bottom: 5%;
}
